.header{

         background-image: url(../pic/wallpaperflare.com_wallpaper.jpg);
         background-repeat: none;
         max-width:2600px;


}




.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
             
    font-size: 45px;
    font-weight: 800;
}




/*colors and shyred stytle*/


.secondary-bg{

background-color: #FFF8F3;


}

.dark-2{

  color: #474747;
}
.color-style{

color: skyblue;

}

/* pic style */
.pic-style{

  width: 580px;
  background-repeat: none;


}

.btn-primiry{
           background-color: skyblue;
           color: white;
           font-weight: bold;
           padding: 18px 35px;
           border-radius: 5px ;
           font-size: 20px ;
           border: none;

}

.section-title{

font-size: 35px ;
font-weight: bold;
color: #181818;

}

.section-description{

  font-size: 18px;
  color:  #757575;
}

/* nav styles */

nav{
     display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30PX 200px;
}
nav ul li{
  list-style: none;
  margin-right: 50px;
 
}

ul li a {

          text-decoration: none;

}
nav ul{  

            display: flex;
           align-items: center;
}
/* banner style */


.banner-greetings{

           font-size: 45px;
           font-weight: 600;}

.banner-title{

         font-weight: bold;
         font-size: 85px;


}

.banner{

      display: flex;
      justify-content: space-between;
      margin: 0 35px 0 200px;

}
.banner-contant{

        max-width: 580px;}

/* main styles*/

main{

max-width: 1140px;
margin: 0 auto;

}


/*about styles*/   
   
   .about{

       border-radius: 10px;
       padding: 130px 150px;
       text-align: center;
       margin-top: 130px;
   }

.About-items{

 display: flex;
 justify-content: space-around;


   }


  .item-descripton{

          font-weight: 600;

   }
